/virenv
./virenv
./virenv/*

./cacheville/logs
./cacheville/logs/*

./cacheville/.env

./cacheville/db.sqlite3
/cacheville/db.sqlite3

./testsite/Documents/*
/testsite/Documents/*
./testsite/storage/*
/testsite/storage/*

.vscode
./.vscode